.container {
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
}

.title {
  font: 500 1.875rem var(--logo-font);
  color: var(--base-color-dark);
  margin-bottom: 1.5rem;
  -webkit-font-smoothing: auto;
}

#activity {
  padding: 4rem 0;
  z-index: 1;
}

#activity .container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#activity .activity_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#activity .head_title {
  display: flex;
  align-items: center;
  gap: 2rem;
}

#activity .head_title h2 {
  align-items: center;
  margin: 0;
}

#activity .icon img{
  width: 2.5rem;
  height: 2.5rem;
}

#activity .head_button .icon img{
  width: 1rem;
  height: 1rem;
}

.button_next{
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  background: var(--white-color);
  border: none;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25);

  transition: box-shadow 0.25s ease, transform .25s ease, -webkit-transform .25s ease;

}

.button_next:hover{
  transform: translate3d(0, -3px, 0);

  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);
}

#activity  .activity_box{
  padding: 3rem;
  background: var(--base-color-light);
  border: 0.8rem solid  var(--white-color);
  box-shadow: inset 0 0 1rem #00000038, 0 0 2rem #00000026;
  border-radius: 45px;

  display: grid;
  grid-template-areas:
  "1 2 3 4";
  gap: 4.5rem;
}

#activity .box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 14.5rem;
  margin: 0 auto;
}

.box_head{
  padding: 0 1rem;
  text-align: center;
}
.box_head i img{
  width: 1.5rem;
  height: 1.5rem;
}
.box_head h4{
  font: 400 1rem var(--logo-font);
  line-height: 28px;
  color: #9854CB;
  margin: 0.5rem 0;
}

.box_body p{
  font: 500 0.9rem var(--body-font);
  line-height: 19px;
  color: #9854CB;
  text-align: center;
}

.box_button button{
  margin-top: 1.5rem;
  background: #9854CB;
  border: 2px solid var(--white-color);
  box-shadow: 0px 14px 32px -17px #000000, inset 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  padding: 0.8rem 2.5rem;

  cursor: pointer;
  font: 700 0.9rem var(--body2-font);
  color: var(--white-color);
  transition: box-shadow 0.25s ease, transform .25s ease, -webkit-transform .25s ease;

}

.box_button button:hover{
  transform: translate3d(0, -3px, 0);
  background: linear-gradient(90deg, #9854CB 2.41%, var(--base-color-dark) 200.9%);
}

@media (max-width: 1200px){
  .container {
    width: auto;
    margin: 0 2rem;
  }

  .title {
    font-size: 1.5rem;
  }

  #activity .head_title {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }

  #activity .activity_box {
    grid-template-areas:
    "1 2"
    "3 4";
    gap: 2.5rem;
  }
}

@media (max-width: 768px){
  .container {
    width: auto;
    margin: 0 1.5rem;
  }
  #activity .activity_box {
    grid-template-areas:
    "1"
    "2"
    "3"
    "4";
    gap: 2.875rem;
  }
}

@media (max-width: 425px){
  .title {
    font-size: 1.25rem;
  }
  #activity .activity_box{
    padding: 2rem;
  }
  #activity .box{
    max-width: 100%;
  }
}
