@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1{
    @apply font-poppins font-bold text-purple-900 text-[3.5rem] leading-tight; 
  }
  h2 {
    @apply font-paytone font-normal text-5xl text-purple-900 mb-8; 
  }

  h3{
    @apply font-paytone font-normal text-[2rem] text-purple-900 leading-10 mb-8;
  }
  h4{
    @apply font-poppins font-semibold uppercase text-pink-500 text-lg;
  }
  h5{
    @apply font-poppins font-bold text-purple-900 text-xs;
  }
  p {
    @apply text-lg font-quicksand font-normal text-gray-400; 
  }
  span{
    @apply font-quicksand font-medium text-gray-400 text-base;
  }
  input, textarea{
    @apply border-solid border-2 w-full border-transparent shadow-md px-7 py-3 font-quicksand font-medium text-sm text-gray-400 focus:border-pink-500 focus:outline-none;
  }
  input{
    @apply rounded-full;
  }
  textarea{
    @apply rounded-2xl;
  }

  input::placeholder, textarea::placeholder{
    @apply text-gray-200;
  }

  table{
    @apply w-full bg-white rounded-xl overflow-hidden shadow-md;
  }
  thead{
    @apply border-b-[1px] border-b-slate-200;
  }

  tbody tr{
    @apply even:bg-pink-50 ;
  }
  th{
    @apply font-poppins font-semibold;
  }
  td{
    @apply font-quicksand font-medium;
  }
  th, td{
    @apply px-8 py-3 text-xs text-start text-gray-400;
  }

}

@layer components {
  .padding{
    @apply py-24;
  }

  .card{
    @apply shadow-pop p-6 rounded-[2rem] bg-white border-white  border-solid border-2 transform duration-300;
  }
  .container {
    @apply mx-auto max-w-[68rem] my-0;
  }

  .bg-pink-yellow{
    color: #fff;
    background: linear-gradient(to bottom right,#ff4a97, #FFD500);
  }

  .bg-purple-pink{
    background: linear-gradient(to bottom right,#9747FF, #ff4a97);
  }
  .bg-purple-pink-hover{
    background: linear-gradient(to top left,#9747FF, #ff4a97);
  }

  .border-gradient{
    background: linear-gradient(to right, #ffff, #ffff),
    linear-gradient(to bottom right,#9747FF, #ff4a97);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
  }

  .border-gradient-hover {
    background: linear-gradient(to right, #ffff, #ffff),
    linear-gradient(to top left,#9747FF, #ff4a97);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;

  }
  .gradient-border-3 {
    border: 3px solid transparent;
  }
  
  .card{
    display: grid;
    grid-template-columns: repeat(auto-fill, 170px);
    grid-auto-rows: 7px;
    justify-content: center;
  }
  .c{
    grid-row-end: span 20;
    grid-row-start: 2;
  }

  .buttonCircle{
    @apply bg-white p-4 w-fit h-fit rounded-full shadow-pop;
  }
  .iconRetangle{
    @apply h-fit bg-purple-pink rounded-xl p-2;
  }

  header.scroll {
    @apply bg-white shadow-sm border-b-[1px] border-b-gray-100 px-4;
  }
  
  .scroller::-webkit-scrollbar {
    @apply w-1 p-5 h-1;
  }
  
  .scroller::-webkit-scrollbar-track {
    @apply bg-gray-50 rounded-full;
  }
  
  .scroller::-webkit-scrollbar-thumb {
    @apply bg-gray-100 rounded-full border-solid border-2 border-transparent;
  }
}