.Container {
  width: 100%;
  display: flex;
  flex-direction: column;

  position: relative;
}

.Container__navbar {
  position: absolute;
  z-index: 1;
}

.Container_oficinas {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 48px;
}

.cards:last-child {
  margin-bottom: 100px;
}
.title_oficinas {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #545454;
  text-align: left;
}

.Container__Section {
  margin-top: 168px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.Content_title_first {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.title_first {
  font-family: 'Paytone One';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  color: #000;
  text-align: center;
}
.Content_span {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
}

.Content_span span {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #000;
  text-align: center;
}

.Container_card_groups {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 64px;
}

@media only screen and (max-width: 780px) {
  .Container_oficinas {
    margin: 2rem 0px;
  }
  .Container_card_groups {
    grid-template-columns: 1fr;
    padding: 0 1rem;
    gap: 2rem;
  }

  .Container__Section {
    gap: 2rem;
  }

  .title_oficinas {
    font-size: 1rem;
    padding-left: 1.6rem;
  }

  .title_first {
    font-size: 1.5rem;
  }

  .Content_span > span {
    font-size: 1rem;
  }

  .cards:last-child {
    margin-bottom: 0;
  }
}
