.containerAllGallery > .popupContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 0, 67, 0.5);
  backdrop-filter: blur(5px);
  z-index: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 3s ease-in-out;
  -webkit-transition: all 3s ease-in-out;
}

.containerAllGallery > .popupContainer > .popupClose {
  position: absolute;
  top: 5%;
  right: 10%;
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: transparent;
  border-radius: 50%;
  box-shadow: 0px 0px 9px transparent;
  align-self: flex-end;
  margin-right: 1.5rem;
  margin-bottom: 2rem;
  cursor: pointer;
  z-index: 999;
}

.containerAllGallery > .popupContainer > .buttonPopupRight {
  position: absolute;
  top: 50%;
  right: 10%;
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
  align-self: flex-end;
  margin-right: 1.5rem;
  margin-bottom: 2rem;
  cursor: pointer;
  z-index: 999;
}

.containerAllGallery > .popupContainer > .buttonPopupLeft {
  position: absolute;
  top: 50%;
  left: 10%;
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
  align-self: flex-end;
  margin-left: 1.5rem;
  margin-bottom: 2rem;
  cursor: pointer;
  z-index: 999;
}

.containerAllGallery > .popupContainer > img {
  width: 80rem;

  object-fit: cover;
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.15));
  border-radius: 35px;
  z-index: 998;
}

/* @media (max-width: 768px) {
  .containerAllGallery > .popupContainer > img {
    width: 50rem;
  }
}

@media (max-width: 1281px) {
  .containerAllGallery > .popupContainer > img {
    width: 50rem;
  }

  .containerAllGallery > .popupContainer > .popupClose {
    top: 12%;
  }
}

@media (max-width: 1025px) {
  .containerAllGallery > .popupContainer > img {
    width: 50rem;
  }

  .containerAllGallery > .popupContainer > .popupClose {
    top: 5%;
    right: 5%;
  }
  .containerAllGallery > .popupContainer > .buttonPopupLeft {
    left: 2%;
  }
  .containerAllGallery > .popupContainer > .buttonPopupRight {
    right: 2%;
  }
} */

/* @media (max-width: 414px) {
  .containerAllGallery
    > .containerRowGalleryId
    > .containerColumnContentR
    > .containerImageGallery
    > img {
    width: 100%;
  }
  .containerAllGallery > .popupContainer {
    flex-direction: column;
    background-color: black;
    width: 50%;
    height: 50%;
  }
  .containerAllGallery > .popupContainer > img {
    width: 10rem;
  } */
/*
  .containerAllGallery > .popupContainer > .popupClose {
    top: 0%;
    right: 0%;
  }
  .containerAllGallery > .popupContainer > .buttonPopupLeft {
    bottom: 0%;
  }
  .containerAllGallery > .popupContainer > .buttonPopupRight {
    bottom: 0%;
  } */
/* } */
