#patronize {
  padding: 2rem 0;
}
#patronize img {
  width: 5rem;
  height: auto;
}

#patronize ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  border-bottom: 0.1rem solid var(--gray--color);
  border-top: 0.1rem solid var(--gray--color);
  height: 100%;
  flex-wrap: wrap;
}

#patronize ul li {
  height: 100%;
  width: 100%;
  flex: 1;
  padding: 1.5rem;
  text-align: center;
}
#patronize ul li:not(:last-child) {
  border-right: 0.09rem solid var(--gray--color);
}

#patronize ul li img {
  width: auto;
  height: 4rem;
}
