:root {
  --header-height: 4.5rem;

  /* colors */
  --base-color: #a688ff;
  --base-color-light: #ddc7f8;
  --base-color-dark: #330043;
  --yellow-color: #ffcd34;
  --salmon-color: #fc8370;
  --pink-color: #ff4a97;
  --pink-color-light: #fbeefe;
  --white-color: #ffffff;
  --gray--color: rgba(217, 217, 217, 0.5);

  /* fonts */
  --logo-font: 'Paytone One', sans-serif;
  --body-font: 'Quicksand', sans-serif;
  --body2-font: 'Poppins', sans-serif;
}
body {
  color: var(--base-color-dark);
  font-family: var(--body-font);
  -webkit-font-smoothing: antialiased;
}
html {
  scroll-behavior: smooth;
}
img {
  width: 100%;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline-block;
}

.body_complete {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
  /* padding: 0 22rem; */
}
.container-home {
  z-index: 2;
  width: 100%;
}
@media (max-width: 1166px) {
  .container-home {
    margin-top: 20rem;
  }
}
@media (max-width: 899px) {
  .container-home {
    margin-top: 25rem;
  }
}
@media (max-width: 1200px) {
  .body_complete {
    width: auto;
    padding: 0 2rem;
  }
}

@media (max-width: 768px) {
  .body_complete {
    width: auto;
    padding: 0 2rem;
  }
}
