:root {
  --header-height: 4.5rem;

  /* colors */
  --base-color: #a688ff;
  --base-color-light: #ddc7f8;
  --base-color-dark: #330043;
  --yellow-color: #ffcd34;
  --salmon-color: #fc8370;
  --pink-color: #ff4a97;
  --pink-color-light: #fbeefe;
  --white-color: #ffffff;
  --gray--color: rgba(217, 217, 217, 0.5);

  /* fonts */
  --logo-font: 'Paytone One', sans-serif;
  --body-font: 'Quicksand', sans-serif;
  --body2-font: 'Poppins', sans-serif;
}
body {
  color: var(--base-color-dark);
  font-family: var(--body-font);
  -webkit-font-smoothing: antialiased;
}
html {
  scroll-behavior: smooth;
}
img {
  width: 100%;
  height: auto;
}
.fade {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline-block;
}

.container {
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
}

.title {
  font: 500 1.875rem var(--logo-font);
  color: var(--base-color-dark);
  margin-bottom: 1.5rem;
  -webkit-font-smoothing: auto;
}

.button {
  background-color: var(--base-color);
  color: var(--text-color-light);
  font: 500 1rem var(--body-font);

  height: 3.5rem;

  display: inline-flex;
  align-items: center;

  padding: 0 2rem;
  border-radius: 0.25rem;

  transition: 0.3s;
}

.button:hover {
  background: var(--base-color-alt);
}

.body_complete {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  margin-top: 10rem;
  overflow: hidden;
}
.container-home {
  position: relative;

  z-index: 2;

  overflow: hidden;
}
.body_complete > .containerFooter {
  width: 100%;
}
