.listIndividual img {
  width: auto;
  height: 4rem;
}
.listIndividual:not(:last-child) {
  border-right: 0.09rem solid var(--gray--color);
}

.listIndividual {
  height: 100%;
  width: 100%;
  flex: 1;
  padding: 1.5rem;
  text-align: center;
}
@media (max-width: 768px) {
  .listIndividual:not(:last-child) {
    border-bottom: 0.09rem solid var(--gray--color);
    border-right: none;
  }
}
